services:
  noetic-audio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: noetic-audio

    network_mode: "host"

    stdin_open: true
    tty: true

    # まだであれば audio グループも追加
    group_add:
      - audio

    devices:
      - "/dev/snd:/dev/snd"

    environment:
      - PULSE_SERVER=${PULSE_SERVER}
      - QT_X11_NO_MITSHM=1

    volumes:
      - /run/user/1000/pulse:/run/user/1000/pulse
      - ~/.config/pulse:/home/roboworks/.config/pulse
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /proc/asound:/proc/asound:ro
  
      # 重要：src をホストの ~/src とマウント（編集反映用）
      - ./src:/hsr_ws/src:rw
